<nav class="vx-navbar">
  <div class="vx-navbar__inner">

    <%= link_to root_path, class: "vx-navbar__brand" do %>
      <%= image_tag "voxify_logo.svg", class: "vx-navbar__logo", alt: "Voxify", width: "36", height: "36" %>
      <span class="vx-navbar__brand-name">VOXIFY</span>
    <% end %>

    <div class="vx-navbar__actions">
      <% if current_page?(root_path) %>
        <%= link_to "Sign up", new_user_registration_path, class: "vx-navbar__login-link" %>
        <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary btn-sm" %>
      <% end %>
    </div>

  </div>
</nav>
