<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h2>Test Environment for 5.2 audio capture</h2>
<div data-controller="recorder">
  <p data-recorder-target="status">Requesting microphone access...</p>
</div>
