<!-- Recording environment-->
<div data-controller="recorder">
  <!-- For DEBUGGING: Check if mic access was granted successfully -->
  <p data-recorder-target="microphoneStatus">Requesting microphone access...</p>

  <!-- Shows recording status: Ready, recording started or recording stopped -->
  <p data-recorder-target="recordingStatus">Ready</p>

  <!-- Buttons -->
  <button data-action="recorder#start">Start Recording</button>
  <button data-action="recorder#stop">Stop Recording</button>
</div>
<div data-session-id="<%= @recording_session.id %>">
